*

!/.gitignore
!/LICENSE
!/README.md



!/flake.nix
!/flake.lock
!/configuration.nix
!/hardware-configuration.nix

!/novoseiria.nix
!/novoseiria/
!/novoseiria/i3.nix
!/novoseiria/git.nix
!/novoseiria/easyeffects.nix
!/novoseiria/firefox.nix
!/novoseiria/flatpak.nix
!/novoseiria/mpd.nix
!/novoseiria/spicetify.nix
!/novoseiria/vscode.nix

!/dotfiles/
!/dotfiles/.bashrc
!/dotfiles/.fehbg
!/dotfiles/.xinitrc
!/dotfiles/bg.png
